body {
	background-color: #f1f2f9;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

#tg-table {
	margin: 80px auto;
	left: auto;
	right: auto;
	display: table;
}

.tg-tabble-row {
	width: 800px;
	display: table-row;
}

.tg-table-cell {
	width: 200px;
	height: 100px;
	display: table-cell;
	position: relative;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 0px 0px 20px 0px #827ee6;
	background-color: #ffffff;
}

.toogle-container {
	position: relative;
	height: inherit;
}

.toogle {
	border-radius: 100px;
	position: absolute;
	width: 74px;
	height: 36px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0; 
	right: 0;
	overflow: hidden;
	background-color: #f1f2f9;
	cursor: pointer;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

#button-1 .knobs:before {
  
  position: absolute;
  top: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 50%;
  
  /* transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all; ---> This is simple animation */
  
  /*transition: 0.8s ease all, left 0.8s cubic-bezier(0.18, 0.89, 0.35, 1.15);*/
  
  content: "No";
  left: 4px;
  background-color: #f44336;
}

#button-1 .checkbox:checked + .knobs:before {
  content: "Yes";
  left: 42px;
  background-color: #03a9f4;
}

#button-1 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
  transition: 0.8s ease all;
}

/* Special animation effect 
#button-1 .checkbox:active + .knobs:before {
  width: 46px;
  border-radius: 100px;
}

#button-1 .checkbox:checked:active + .knobs:before {
  margin-left: -26px;
}
*/